table {
    border-collapse: collapse;
    border: 2px solid black;
    letter-spacing: 1px;
    font-size: 1.2rem;
    width: 80%;
}

th {
    border: 2px solid black;
}

thead {
    background-color: rgb(200,200,200);
}

.new-book {
    padding: 5px 20px 5px 20p;
    margin: 0 0 0.2rem 0.2rem;
}

.edit:hover {
    background-color: indianred;
}

.check:hover {
    background-color: chartreuse;
}

.edit {
    width: 30px;
}

input {
    width: 95%;
    height: 95%;
}

input[type="number" i] {
    width: 90%;
}

.hidden {
    display: none;
}

.title {
    width: 35%;
}

.author {
    width: 35%;
}

.pages {
    width: 10%;
}

.status {
    padding-left: 1rem;
}