table {
    border-collapse: collapse;
    border: 2px solid black;
    letter-spacing: 1px;
    font-size: 1.2rem;
    width: 80%;
}

th {
    border: 1px solid black;
}

thead {
    background-color: rgb(200,200,200);
}

.new-book {
    padding: 5px 20px 5px 20p;
    margin: 0 0 0.2rem 0.2rem;
}